p
{
	color:D;
	font-family:"Times New Roman";
	font-size: 18px;
	position: absolute;
  	left: 50%;
  	top: 30%;
  	transform: translate(-50%, -50%);
}
h1.title
{
	color:#191970;
	font-family:"Impact";
	font-size: 38px;
	position: absolute;
  	left: 50%;
  	top: 20%;
  	transform: translate(-50%, -50%);
}
button.title
{
	border-radius:12px;
  	padding: 10px 20px;
  	font-size: 24px;
  	cursor: pointer;
  	text-align: center;
  	background-color:transparent;
}
button.register
{
	color:#191970;
	border: 2px solid #191970;
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}
button.register:hover {background-color: #FFFFFF}

button.login
{
	color:#FFFFFF;
	border: 2px solid #FFFFFF;
	position: absolute;
  	left: 50%;
  	top: 65%;
  	transform: translate(-50%, -50%);
}

button.login:hover {background-color: #191970}
body,html
{
	background-color:#FFFFFF;
	overflow:hidden;
	height: 100%;
  	background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");

  	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
}
  input[type=text], select {
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
}
  input[type=number], select {
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="radio"] {
  margin-right: 0px;
}
input[type=submit] {
  background-color: transparent;
  color: #FFFFFF;
  padding: 10px 16px;
  margin: 4px 0;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: transparent;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  background-color:transparent;
  padding: 5px;
  visibility:hidden;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.style_title_login
{
	color:#191970;
	visibility:hidden;
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}
.style_title_register
{
	color:#FFFFFF;
	visibility:hidden;
}
.style_title_register_dark
{
	color:#191970;
	visibility:hidden;
}

.radio
{
	position: absolute;
  	left: 50%;
  	top: 75%;
  	transform: translate(-50%, -50%);
}
button.register_register
{
	border-radius:12px;
  	padding: 10px 20px;
  	font-size: 24px;
  	cursor: pointer;
  	text-align: center;
  	background-color:transparent;
	border: 2px solid #FFFFFF;
	position: absolute;
  	left: 50%;
  	top: 90%;
  	transform: translate(-50%, -50%);
  	color:#FFFFFF;
	visibility:hidden;
}

button.register_register:hover{background-color:#191970;}