<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="css/example.css" />
<title>Add New Employee</title>
</head>
<body>
	<p th:text="${message}" />
	
	<h1>Add Employee</h1>
	<form action="#" th:action="@{/createNewEmployee}" th:object="${employee}" method="post">
		
		<table border="1">
			<tr>
				<td>Please enter fname :</td>
				<td><input type="text" th:field="*{fname}" /></td>
			</tr>
			<tr>
				<td>Please enter lname :</td>
				<td><input type="text" th:field="*{lname}" /></td>
			</tr>
			
			<tr>
				<td>Please enter ssn :</td>
				<td><input type="text" th:field="*{ssn}" /></td>
			</tr>
			
			<tr>
			<td>Please select dno </td>
			<td>
				<select th:field="*{dno}">
  					<option 
      				th:each="selectedDno: ${dnoList}"
      				th:value="${selectedDno}"
      				th:text="${selectedDno}" >
      				</option>
				</select>
			</td>			
			</tr>
			
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
		</form>
</body>
</html>